.pokemon-list-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 60%;
}

.pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
  padding: 2rem 3rem;
  overflow-y: scroll;
  list-style-type: none;
}

.pokemon-list-pagination-buttons-container {
  margin: 0.75rem 0;
}

.pokemon-list-pagination-buttons-container > button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 20px;
  user-select: none;
  touch-action: manipulation;
  white-space: pre;
  font-weight: 600;
  padding: 1rem 0;
  width: 175px;
  margin: 0.35rem 0.75rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  color: #fff;
  background-color: rgba(79, 134, 247, 0.8);
}
