.pokemon-preview-card {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 0.6rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.pokemon-preview-card:hover {
  cursor: pointer;
}

.pokemon-type-icon {
  height: 23px;
  width: 23px;
}

.pokemon-preview-card > figcaption {
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: light;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pokemon-preview-content {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
}

.pokemon-preview-content > img {
  height: 85px;
  width: 85px;
}
.pokemon-preview-card-buttons-container {
  display: flex;
  flex-direction: column;
}
.pokemon-preview-card-buttons-container > button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 20px;
  user-select: none;
  touch-action: manipulation;
  white-space: pre;
  font-weight: 600;
  padding: 0.25rem 0;
  width: 75px;
  margin: 0.45rem 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
}
